/*==
Author: Matt Tanner
Company: Firestarter Digital
Website: http://firestarterdigital.com/
Boilerplate Version: 1.0
==*/

/*== SASS: Variables ==*/
$primary: #f00;
$secondary: #00f;
$white: #fff;
$black: #222;
$gray-dark: #2a2a2a;
$gray-med: #696969;
$gray-light: #d3d3d3;
$hdr-stack: Open Sans, Helvetica, Arial, sans-serif;
$font-stack: Open Sans, Helvetica, Arial, sans-serif;

/*== Fonts ==*/
body, p { font-size: 1.0em; }
body { line-height: 1.25em; }
p { line-height: 1.5em; }
h1, h2, h3, h4 { font-weight: bold; }
h1 { font-size: 2.0em; line-height: 1.25em; }
h2 { font-size: 1.625em; line-height: 1.15384615em; }
h3 { font-size: 1.375em; line-height: 1.13636364em; }
h4 { font-size: 1.125em; line-height: 1.11111111em; }
blockquote { font-size: 1.25em; line-height: 1.25em; }

/*== Mobile only ==*/
@media screen and (max-width: 40em) {
	/*== Fonts ==*/

}

/*== Portrait Tablet and Up ==*/
@media screen and (min-width: 48em) {
	
}

/*== Tablet Only ==*/
@media screen and (min-width: 40.063em) and (max-width: 64em) {
	
}

/*== Tablet: Large Only ==*/
@media screen and (min-width: 50.063em) and (max-width: 64em) {
	/* == Fonts ==*/
	h1 { font-size: 2.5em; line-height: 1.125em; }
	h2 { font-size: 2.0em; }
	h3 { font-size: 1.5em; }
	blockquote { font-size: 1.5em; line-height: 1.45833333em; }
}

/*== Tablet: Large and up ==*/
@media screen and (min-width: 50.063em) {
	/* == Fonts ==*/
	body { line-height: 1.375em; }
	h2, h3 { line-height: 1.25em; }
	h4 { line-height: 1.22222222em; }
	blockquote { font-size: 1.5em; line-height: 1.45833333em; }
}

/*== Desktop and up ==*/
@media screen and (min-width: 64.063em) {
	/*== Fonts ==*/
	h1 { font-size: 3.0em; line-height: 1.05em; }
	h2 { font-size: 2.25em; }
	h3 { font-size: 1.75em; }
	blockquote { font-size: 1.5em; line-height: 1.45833333em; }
}

/*== Print ==*/
@media print {
	/*== Fonts ==*/
	body, p, h1, h2, h3, h4 { line-height: 1.25em; }
	body, p { font-size: 12pt; }
	h1 { font-size: 36pt; }
	h2 { font-size: 24pt; }
	h3 { font-size: 18pt; }
	h4 { font-size: 14pt; }
	blockquote { font-size: 24pt; line-height: 1.45833333em; }
}
